#chatWindow {
    width: 300px;
    border: none;
    border-radius: 15px;
    height: 400px;
    position: fixed;
    bottom:0px;
    z-index:2;
}

    #chatWindow img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

#chatWindow:hover{
    background-color:white;
    opacity: 1
}


.adiv {
    background: #04CB28;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    height: 46px;
}

.chat {
    border: none;
    background: #E2FFE8;
    border-radius: 20px
}

.bg-white {
    border: 1px solid #E7E7E9;
    font-size: 12px;
    border-radius: 20px
}

.myvideo img {
    border-radius: 20px
}

.dot {
    font-weight: bold
}

#msgTB {
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    font-size:12px;
    width:80%;
    float:left;
}

#chatWindow > .form-group  {
    margin: 0px
}

    .form-control:focus {
        box-shadow: none
    }

.form-control::placeholder {
    font-size: 14px;
    color: dimgray
}

#messages {
/*    max-height: 500px;*/
    overflow-y: scroll;
    display: inline-flex;
    flex-direction: column;
    height: 500px;
}

#sendMSG{
    width: 10%;
    float: left;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.p-3{
    font-size:14px;
}
