
/*Search CSS */

.result {
	width: 80%;
	height: 50px;
	border: 1px solid white;
	float: left;
	text-align:left;
	position:relative
}

.result::after {
	position:absolute;
	height:100%;
	width:100%;
	background:black;
	opacity:0.7;
	content:""
}


div > img {
	height: 100%;
	width: 100%;
}

.chosen {
	background-color: aqua;
}



.imgResult {
	height: 300px;
	width: auto;
}




	.person .imgResult  {
		height:150px;

	}

	.person > div {
		min-height:unset;
	}


#results {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 85vh;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}

.result {
	border: 1px solid white;
	height: auto;
	width: 100%;
	margin: 0 auto;
}
